/* InternetIsp.css */

/* Common styles */
.int-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: rgb(228, 228, 228);
}

.cardi {
  width: 100%;
  max-width: 300px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.cardi ul {
  list-style-type: none;
  padding: 0;
}

.cardi li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cardi li .left-content {
  flex-grow: 1;
}

.cardi li .price {
  flex-shrink: 0;
  width: 80px;
  text-align: right;
  font-size: 18px;
  color: red;
}

.cardi span {
  font-size: 16px;
  font-weight: 600;
}

.cardi h2 {
  font-size: 25px;
  color: rgb(119, 0, 0);
}

.additional-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.upgrade-card {
  width: 100%;
  max-width: 300px;
  background: rgb(236, 236, 236);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 20px;
}

.upgrade-card h3 {
  font-size: 25px;
  color: rgb(119, 0, 0);
  margin-bottom: 20px;
  text-align: center;
}

.upgrade-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.upgrade-option .cardi {
  width: 140px;
  height: auto;
}

.upgrade-option .cardi h2 {
  font-size: 17px;
}

.upgrade-option .cardi .price-container {
  display: flex;
  align-items: center;
}

.upgrade-option .cardi .price {
  font-size: 18px;
  color: red;
}

.upgrade-option .cardi .price-sign {
  font-size: 14px;
  color: black;
}

.contact-info {
  width: 100%;
  background: rgb(228, 228, 228);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}

.contact-info p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.contact-number {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.int-body {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.int-body.animate-in {
  opacity: 1;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .additional-content {
    justify-content: flex-start; /* Display items beside each other */
  }
}
