.Navigation {

    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 10px;
    font-size: large;
}
.nav:hover{
    color: red;
    border-bottom: 1px solid red;
    transform: translateY(-1px);
    transition: 0.2s;
}